:root{
    font-size: calc(100vw / 192);
}

body{
    height: 100vh;
    overflow: hidden;
    /* GRADIENT */
    background: var(--white-soft);
}

/*  */

:root{
    /* LIGHT */
    --white: #fff;
    --white-soft: #ddd;
    /* DARK */
    --black: #111;
    --black-soft: #333;
}

:root{
    --background: var(--white);
    --text: var(--black-soft);
}

@media (prefers-color-scheme: dark) {
    body{
        background: #26262c; 
    }
}