:root{
    font-size: calc(100vw / 192);
}

body{
    height: 100vh;
    overflow: hidden;
    /* GRADIENT */
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*  */

:root{
    /* LIGHT */
    --white: #fff;
    --white-soft: #ddd;
    /* DARK */
    --black: #111;
    --black-soft: #333;
}

:root{
    --background: var(--white);
    --text: var(--black-soft);
}

@media (prefers-color-scheme: dark) {
    body{
        background: #485563;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    :root{
        --background: var(--black);
        --text: var(--white-soft);
    }
}